body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #464242;
}
.animate__img {
    position: absolute;
    width: 656px;
    height: 690px;
    left: calc(50% - 328px);
    top: calc(50% - 345px);
} 
.login-container {
    width: 300px;
    height: 150px;
    position: absolute;
    justify-items: center;
    color: #e83f52;
    left: calc(50% - 150px);
    top: calc(40% - 75px); 
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 96%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #464242;
    border-radius: 60px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #e83f52;
    color: #9e9595;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #543d3f;
}